    <!-- Site footer -->
    <footer class="site-footer">

      <!-- Bottom section -->
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2016 Todos os direitos reservados a <a href="<%= root_path %>">MeuPróximoTrabalho</a>.</p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="http://fb.com/meuproximotrabalho" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li><a class="instagram" href="http://instagram.com/meuproximotrabalho" target="_blank"><i class="fa fa-instagram"></i></a></li>
              <li><a class="email" href="mailto:falecom@meuproximotrabalho.com.br" target="_blank"><i class="fa fa-envelope"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- END Bottom section -->

    </footer>
    <!-- END Site footer -->

    <!-- Scripts -->
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag '/assets/js/app.min.js' %>
    <%= javascript_include_tag '/assets/js/custom.js' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/mouse0270-bootstrap-notify/3.1.5/bootstrap-notify.min.js' %>
    <%= yield(:js) %>

    <% unless ENV['STAGE'] == "true" %>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-44376143-10', 'auto');
        ga('send', 'pageview');
      </script>
<!--       <script src="https://js.pusher.com/3.0/pusher.min.js"></script>
      <script async>
        var pusher = new Pusher('4c0a2e00f98bd2116e22', {
          encrypted: true
        });
        var channel = pusher.subscribe('notification_channel');
        channel.bind('job_event', function(data) {
          $.notify({
            message: "Uma nova vaga foi adicionada, <strong>confira!</strong>",
            url: data.job_link,
            target: "_self",
            animate: {
              enter: 'animated bounceInDown',
              exit: 'animated bounceOutUp'
            }
          }, {
            timer: null
          });
        });
      </script> -->
    <% end %>
    <script type="text/javascript">
      window.smartlook||(function(d) {
      var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
      var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
      c.charset='utf-8';c.src='//rec.getsmartlook.com/recorder.js';h.appendChild(c);
      })(document);
      smartlook('init', '6998c3ae452439fca33d6fd86246fa735540549c');
      <% if current_user %>
        smartlook('tag', 'id', '<%= current_user.id %>');
        smartlook('tag', 'name', '<%= current_user.name %>');
        smartlook('tag', 'email', '<%= current_user.email %>');
      <% end %>
    </script>
    <%# if current_user && current_user.user_premium %>
      <!-- Start of Async Drift Code -->
      <script>
      !function() {
        var t;
        if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0, 
        t.methods = [ "identify", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ], 
        t.factory = function(e) {
          return function() {
            var n;
            return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
          };
        }, t.methods.forEach(function(e) {
          t[e] = t.factory(e);
        }), t.load = function(t) {
          var e, n, o, r;
          e = 3e5, r = Math.ceil(new Date() / e) * e, o = document.createElement("script"), 
          o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + r + "/" + t + ".js", 
          n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
        });
      }();
      drift.SNIPPET_VERSION = '0.2.0'
      drift.load('zrauvgx9gyyz')
      </script>
      <!-- End of Async Drift Code -->
    <%# end %>
  </body>

</html>